:root {
  --text-color: #1a1c20;
  --link-color: #7eb6ef;
  --background-color: #f2eded; /* Updated background color */
  --box-background-color: #ffffff; /* Box background color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

nav .left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}

nav .right a {
  color: var(--text-color);
  margin: 0 10px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
  padding: 40px;
  margin-bottom: 60px;
  background-color: var(--box-background-color); /* Box background color */
  border-radius: 10px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-content .text {
  flex: 5;
}

.hero-content .text h2 {
  font-size: 45px;
}

.hero-content .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-content .headshot img {
  width: 350px;
  border-radius: 50%;
}

/* SECTION 2: Skills */
.skills-section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: var(--box-background-color); /* Box background color */
  border-radius: 10px;
}

.skills-section h2 {
  text-align: center;
  font-size: 45px;
}

.skills-section .text {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

/* PROJECT SECTION */
.projects-section {
  padding: 0 50px;
  margin-bottom: 40px;
}

.project {
  width: 100%; /* Ensures all boxes have the same width */
  background-color: #f2eded;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
}

.project-header h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-header h3 a {
  color: var(--link-color);
  text-decoration: none;
}

.project-header h3 a:hover {
  text-decoration: underline;
}

.project-description p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project-skills span {
  font-size: 14px;
  color: #888;
}

/* Flexbox for even distribution */
.projects-section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Smaller gap between project boxes */
  justify-content: space-between;
  align-items: center;
}
